<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		
	
		
		{% block style %}
			<link rel="stylesheet" href="/css/font-awesome.min.css">
			<link rel="stylesheet" href="/css/personal.css">
		{% endblock %}
		
		
	</head>
	<body>
		<p>El título es {{ title }}</p>

		{% block content %} {% endblock content %}
	</body>
</html>